#header-container {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  vertical-align: baseline;
}
#header-title {
  color: rgba(242, 95, 76, 0.7);
  font-family: "Dancing_Script";
  text-transform: lowercase;
  margin-top: 10px;
  margin-left: 40px;
  padding-bottom: 20px;
}
#header-nav {
  margin-top: 20px;
  margin-right: 40px;
  padding-bottom: 20px;
}
#header-nav > .nav-item > a {
  color: #020826;
}
